# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
*.venv
pip-log.txt
pip-delete-this-directory.txt

# Logs and databases
*.log
*.sqlite3
db.sqlite3

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
