# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
*.venv
pip-log.txt
pip-delete-this-directory.txt

# Logs and databases
*.log
*.sqlite3
db.sqlite3

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Input files
*.mp4
*.png
*.jpg
*.jpeg
*.mov

# Specific files are saved in the "temporary_usage_files" folder, need to ignore those
temporary_usage_files/
